body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Consolas, Consolas;
}

#canvas{
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

#world_info{
    position: fixed;
    left: 1.5%;
    top: 2%;
    width: 30%;
    height: 40%;
    /*background: rgba(255, 255, 255, 0.5);*/
    border-radius: 12px;
    opacity: 0.7;
}

#world_name{
    font-size: 1.8vw;
    width: 50%;
    height: 15%;
}

#categories{
    margin-left: 1%;
}

#category_list{
    margin-left: 2%;
    margin-top: 2.5%;
}

#laws{
    margin-left: 1%;
}

#laws_list{
    margin-left: 2%;
    margin-top: 2.5%;
}

#vars{
    margin-left: 1%;
}

#vars_list{
    margin-left: 2%;
    margin-top: 2.5%;
}

#text_editor_wrapper{
    display: none;
}

#text_editor{
    position: fixed;
    display: block;
    border: 1px solid gray;
    top: 7%;
    left: 15%;
    width: 20%;
    height: 10%;
    resize: both;
    padding: 0.5%;
    background: rgba(0, 0, 0, 0.5);
}

#buttons{
    position: absolute;
    right: 100%;
    left: 15%;
    top: 5%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7vw;
    width: 40%;
}

#topr_buttons{
    position: fixed;
    top: 2%;
    right: 1.5%;
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
}

#botr_buttons{
    position: fixed;
    bottom: 2%;
    right: 1.5%;
    font-weight: bold;
    font-size: 0.8vw;
    font-family: 'Courier New', Courier, monospace;
}

#botl_buttons{
    position: fixed;
    bottom: 2%;
    left: 1.5%;
    font-weight: bold;
    font-size: 0.8vw;
    font-family: 'Courier New', Courier, monospace;
}

#info_box{
    position: fixed;
    display: block;
    border: 1px solid gray;
    bottom: 7%;
    right: 2%;
    width: 15%;
    height: 20%;
    padding: 0.5%;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
}

#info_box_close{
    position: absolute;
    right: 4%;
    top: 2.5%;
    font-size: 0.6vw;
}

#spawn_options{
    position: fixed;
    display: block;
    border: 1px solid gray;
    top: 8%;
    right: 2%;
    width: 15%;
    height: auto;
    padding: 0.5%;
    padding-bottom: 1%;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9vw;
}

#spawn_options_close{
    position: absolute;
    right: 3%;
    top: 6px;
    font-size: 0.6vw;
}

#category_settings{
    left: 34.25%;
    top: 10%;
}

#category_settings_inner{
    font-size: 0.75vw;
    overflow-y: auto;
    position: absolute;
    top: 45px;
    bottom: 15px;
    left: 15px;
    right: 20px;
}

#category_inheritance_list{
    font-size: 0.75vw;
}

#category_change_name{
    background: none;
    color: white;
    border: none;
    border-bottom: solid 1px white;
    text-align: center;
    width: 15%;
}

#world_settings{
    position: fixed;
    left: 14.25%;
    top: 25%;
    width: 27%;
    height: 50%;
}

#world_settings_inner{
    font-size: 0.75vw;
    overflow-y: auto;
    position: absolute;
    top: 45px;
    bottom: 15px;
    left: 15px;
    right: 20px;
}

#world_change_name{
    background: none;
    color: white;
    border: none;
    border-bottom: solid 1px white;
    text-align: center;
    width: 20%;
}

#ai_editor{
    height: 80%;
}

.window{
    position: fixed;
    width: 30%;
    height: 40%;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5%;
    color: white;
    border: solid 1px white;
    opacity: 0.8;
    font-size: 0.8vw;
}

.window_close{
    position: absolute;
    right: 2%;
    top: 6px;
    font-size: 0.6vw;
}

.inner_editor{
    background: rgba(0, 0, 0, 0.5);
    margin: 2%;
    width: 91%;
    min-height: 25%;
    height: auto;
    resize: vertical;
    max-width: inherit;
    border: solid 1px rgba(255, 255, 255, 0.5);
    padding: 2%;
}

textarea{
    border: none;
    background: none;
    overflow: hidden;
    resize: none;
    
    color: white;
    display: inline-block;
    vertical-align: middle;
}

.clickable{
    opacity: 0.4;
    transition: 0.2s;
}

.clickable2:hover{
    font-weight: bold;
    cursor: pointer;
}

.clickable:hover{
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;
}

textarea,
pre{
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
}

.noselect{
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.options_input{
    max-width: 35%;
    width: 17%;
    display: inline-block;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.flex_vert_item{
    display: table-cell;
    vertical-align: middle;
}